/* body {
    background-image: url(https://images.unsplash.com/photo-1595854341625-f33ee10dbf94?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGl6emElMjBkZWxpdmVyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    font-family: "Open Sans", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    //I want to make the background color the same color the whole time
}

.refuel {
//I want each of these backgrounds to be enclosed in a container of some kind
//so they don't take up the whole background
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: ;
  margin: -2px;
  height: 15vh;

  } */
  div.modal.open {
    visibility: visible;
  }
  div.modal{
    visibility: hidden;
  }

  div.controls {
    visibility: hidden;
  }

  div.controls.open {
    visibility: visible;
  }
